<div class="container margin-top">
    <!-- ====================== -->
    <div class="row">
        <div class="col-md-12 authentication">
            <a href="#">Continue with Facebook</a>
            <i class="material-icons float-right">navigate_next</i>
        </div>
    </div>

    <!-- ====================== -->
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-md-12 authentication">
            <a [routerLink]="'/register-email'">Sign up with my email</a>
            <i class="material-icons float-right">navigate_next</i>
        </div>
    </div>

    <!-- ====================== -->
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-md-12 authentication">
            <p>
                Already a member? <a [routerLink]="'/login'">Log in</a>
            </p>
            <p>
                By continuing, you accept our T&Cs and Privacy Policy. This information is collected by COMUTO SA for
                the purposes of creating your account, managing your booking, use and improve our services and ensuring
                the security of our platform. You have rights on your personal data and can exercise them by contacting
                BlaBlaCar through our contact form. You can learn more about your rights and how we handle your personal
                data in our <a href="">Privacy Policy</a>.
            </p>
        </div>
    </div>
</div>