<div class="container margin-top">
    <!-- ====================== -->
    <div class="row">
        <div class="col-md-12 authentication">
            <a href="#">Continue with Facebook</a>
            <i class="material-icons float-right">navigate_next</i>
        </div>
    </div>

    <!-- ====================== -->
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-md-12 authentication">
            <a [routerLink]="'/login-email'">Use my email</a>
            <i class="material-icons float-right">navigate_next</i>
        </div>
    </div>

    <!-- ====================== -->
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-md-12 authentication">
            <p>Not a member yet? <a [routerLink]="'/register'">Sign up</a></p>
        </div>
    </div>
</div>